/* CONTENEDOR */

.proyectos-container {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: minmax(200px, 400px) auto;
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    min-height: 300px;
}

/* DIVISOR */

.divisor {
    grid-column-start: 1;
    grid-column-end: 3;
}

.linea {
    position: absolute;
    left: 0;
    border-top: 1px dotted var(--gris-oscuro);
    width: 100%;
}

.divisor:last-child {
    display: none;
}

/* IMAGEN */

.img-content {
    width: 100%;
    height: auto;
    border: 6px solid white;
}


/* TEXTO */

.text-container h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}
.text-container h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--azul-claro);
}

.text-container p {
    color: var(--gris-oscuro);
}


/* BOTONES */

.botones-container {
    display: flex;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3px;
    padding: 0.4rem 0.6rem;
    margin-right: 0.5rem;
    min-width: 6.5rem;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover:not(.disabled) {
    /* font-weight: bolder; */
    text-shadow: 0px 0px 1px white;
}

.btn.ver {
    color: var(--blanco);
    background-color: var(--azul-oscuro);
    border-color: var(--azul-oscuro);
}

.btn.github {
    color: var(--azul-oscuro);
    border-color: var(--azul-oscuro);
}

.btn.disabled {
    cursor: default;
    border-color: var(--gris-claro);
}

.btn.github.disabled {
    color: var(--gris-claro);
    background-color: inherit;
}

.btn.ver.disabled {
    color: var(--blanco);
    background-color: var(--gris-claro);
}


/* VIDEO CONTAINER */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5)
}

.modal-content {
    background-color: var(--blanco);
    margin: 72px auto 0 auto;
    width: calc(100vh * 1.33 - 144px * 1.33); /* me inspiré */
    min-width: 640px;
    max-width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
                0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 0.2s;
}

.content-sd {
    margin-top: calc(50vh - 240px);
    max-width: 640px;
    width: auto;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 75%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
}

/* MEDIA QUERIES */

@media (max-width: 630px){

    .proyectos-container {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .divisor {
        grid-column-start: 0;
        grid-column-end: 1;
        padding: 1rem 0;
    }

    .btn {
        min-width: 0;
    }

    .botones-container {
        padding-top: 0.5rem;
    }
    .botones-container > *{
        flex-basis: 0;
        flex-grow: 1;
    }

    .modal-content {
        min-width: auto;
    }
    .content-sd {
        margin-top: 72px;
    }

}

@media (max-width: 400px){

    html {
        font-size: 0.9rem;
    }
    .btn {
        margin-right: 3px;
    }
}